*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: 'Gill Sans', sans-serif;
}

body{
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    display: grid;
    grid-template: 100px 50% minmax(250px, 600px) / 1fr;
}

header{
    background-color: grey;
    display:flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

main{
    background-color: beige;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.box1, .box4{
    grid-column: 1/ -1;
}

.box1{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.box2, .box3, .box4{
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.box-aside{
    background-color: aquamarine;
    display: grid;
    justify-items: center;
}

.box-aside p{
    padding-top: 50px;
} 

footer{
    background-color: grey;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr) );
    row-gap: 5px;
    justify-items: center;
    align-items: center;
}

.footer-box{
    padding: 30px;
    background-color: rgb(221, 221, 221);
}