*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Gill Sans', sans-serif;
}

body{
    display: grid;
    grid-template-rows: 150px 1fr 250px;
    grid-template-columns: 1fr 350px;
    height: 100vh;
}

header{
    background-color: grey;
    grid-column: 1/ -1;
    display:flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: beige;
    grid-column:1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 100px 100px;
    gap: 10px;

}

.box1, .box4{
    grid-column: 1/ -1;
}

.box1{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.box2, .box3, .box4{
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.box-aside{
    background-color: aquamarine;
    display: grid;
    justify-items: center;
}

.box-aside p{
    padding-top: 50px;
} 

footer{
    background-color: grey;
    grid-column: 1/ -1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.footer-box{
    padding: 30px;
    background-color: rgb(221, 221, 221);
}